<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <%- include('./components/sidebar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <%- include('./components/topnav') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <center style="margin: auto; margin-top: 20%;">
                <h1 style="font-size: 40px;">AFK to earn coins!</h1>
                <p style="font-size: 25px;">Every <% if (settings.api.arcio["afk page"].every !== 1) { %><%= settings.api.arcio["afk page"].every %> seconds<% } else { %>second<% } %>, you will get <%= settings.api.arcio["afk page"].coins == 1 ? "a" : settings.api.arcio["afk page"].coins %> coin<%= settings.api.arcio["afk page"].coins == 1 ? "" : "s" %>.</p>
                <p style="font-size: 25px;">You will gain coins again in <span id="timer"><%= settings.api.arcio["afk page"].every %></span> seconds.</p>
                <p style="font-size: 25px;">You have gained <span id="gainedcoins">0</span> coins currently.</p>
                <p style="font-size: 25px;">To check your balance, go to the store tab.</p>
              </center>
              <script>
                setInterval(async function() {
                  const response = await fetch('https://srydencloud.com/api/updateCoins', {
    				method: 'GET',
                    headers: {
      					'Content-Type': 'application/json'
    				}
  				  });
                  let json = await response.json();
                  let coins = document.getElementById("gainedcoins")
                  let timer = document.getElementById("timer")
                  coins.textContent = Math.floor((Number(coins.textContent) + 0.1) * 100) / 100;
                  timer.textContent = 60;
                }, 60000)
                 
                setInterval(async function() {
                  let timer = document.getElementById("timer")
                  let count = Number(timer.textContent);
                  if (isNaN(count)) count = 0;
                  if (count == 0) return timer.textContent = 60;
                  timer.textContent = count - 1;
                }, 1000)
              </script>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <%- include('./components/scripts') %>
  </body>
</html>