<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <% if (settings.api.arcio.enabled == true) { %>
        <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <% } %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= extra.home.name %></title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../../assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="../../assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
    <link rel="icon" type="image/png" href="<%= extra.faviconlink %>">
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a style="color: white" class="sidebar-brand brand-logo" href="/dashboard"><%= extra.home.name %></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="https://cdn.discordapp.com/avatars/<%= userinfo.id %>/<%= userinfo.avatar %>.png?size=256" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal"><%= userinfo.username %></h5>
                  <% if (typeof packagename.charAt(0) == 'number') { %>
                    <span><%= packagename %> plan</span>
                  <% } else { %>
                    <span><%= packagename.charAt(0).toUpperCase() + packagename.slice(1) %> plan</span>
                  <% } %>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Pages</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/dashboard">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/servers/new">
              <span class="menu-icon">
                <i class="mdi mdi-file-document-box"></i>
              </span>
              <span class="menu-title">Create Server</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/settings">
              <span class="menu-icon">
                <i class="mdi mdi-settings"></i>
              </span>
              <span class="menu-title">Settings</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/coins">
              <span class="menu-icon">
                <i class="mdi mdi-coin"></i>
              </span>
              <span class="menu-title">Earn Coins</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/store">
              <span class="menu-icon">
                <i class="mdi mdi-store"></i>
              </span>
              <span class="menu-title">Coin Store</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/j4r">
              <span class="menu-icon">
                <i class="mdi mdi-dns"></i>
              </span>
              <span class="menu-title">Join for Resources</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/gift">
              <span class="menu-icon">
                <i class="mdi mdi-gift"></i>
              </span>
              <span class="menu-title">Gift</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/panel" target="_blank">
              <span class="menu-icon">
                <i class="mdi mdi-view-list"></i>
              </span>
              <span class="menu-title">Panel</span>
            </a>
          </li>
          <% if (pterodactyl.root_admin == true) { %>
            <li class="nav-item menu-items">
            <a class="nav-link" href="/admin">
              <span class="menu-icon">
                  <i class="mdi mdi-account"></i>
              </span>
              <span class="menu-title">Admin</span>
              </a>
            </li>
          <% } %>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/logout">
              <span class="menu-icon">
                <i class="mdi mdi-logout"></i>
              </span>
              <span class="menu-title">Logout</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                  <i class="mdi mdi-bell"></i>
                  <span class="count bg-danger"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <h6 class="p-3 mb-0">Notifications</h6>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="https://cdn.discordapp.com/avatars/<%= userinfo.id %>/<%= userinfo.avatar %>.png?size=256" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name"><%= userinfo.username %></p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item" href="/settings">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item" href="/logout">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                        <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <% if (req.query.err) { %>
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <% if (req.query.err == "MISSINGVARIABLE") { %>
                    You have not filled out all of the server information.
                <% } else if (req.query.err == "ERRORONMODIFY") { %>
                    There has been an error while attempting to modifying your server. Please alert an administrator to fix this problem.
                <% } else if (req.query.err == "MISSINGEGG") { %>
                    The server type for this server is not registered as a valid server type, therefore your server's RAM, disk and/or CPU could not be changed.
                <% } else { %>
                    <% if (req.query.num) { %>
                        <% if (!isNaN(parseFloat(req.query.num))) { %>
                            <% if (req.query.err == "TOOLITTLERAM" || req.query.err == "TOOLITTLEDISK" || req.query.err == "TOOLITTLECPU") { %>
                                You must make a server with at least <b><%= req.query.num %></b>
                                <% if (req.query.err.slice(-3) == "RAM") { %>
                                    MB RAM
                                <% } else if (req.query.err.slice(-4) == "DISK") { %>
                                    MB disk
                                <% } else { // CPU %>
                                    % CPU
                                <% } %>
                                if you want to modified a server with the server type you have selected.
                            <% } else if (req.query.err == "TOOMUCHRAM" || req.query.err == "TOOMUCHDISK" || req.query.err == "TOOMUCHCPU") { %>
                                With the selected server type, you can have a maximum of <b><%= req.query.num %></b>
                                <% if (req.query.err.slice(-3) == "RAM") { %>
                                    MB RAM
                                <% } else if (req.query.err.slice(-4) == "DISK") { %>
                                    MB disk
                                <% } else { // CPU %>
                                    % CPU
                                <% } %>
                                on the server.
                            <% } else if (req.query.err == "EXCEEDRAM" || req.query.err == "EXCEEDDISK" || req.query.err == "EXCEEDCPU") { %>
                                The server could not be modified because you have requested to modified a server that exceeds your plan.
                            <% } else { %>
                                I won't mind to add a little easter egg here. :)
                            <% } %>
                        <% } else { %>
                            I won't mind to add a little easter egg here. :)
                        <% } %>
                    <% } else { %>
                        I won't mind to add a little easter egg here. :)
                    <% } %>
                <% } %>
            </div>
        <% } %>
        <% if (req.query.id) { %>
            <% if (pterodactyl.relationships.servers.data.filter(name => name.attributes.id == req.query.id).length == 1) {
                let serverinfo = pterodactyl.relationships.servers.data.filter(name => name.attributes.id == req.query.id)[0];
                let attemptegg = null;
                let attemptname = null;
                for (let [name, value] of Object.entries(settings.api.client.eggs)) {
                    if (settings.api.client.eggs[name].info.egg == serverinfo.attributes.egg) {
                        attemptegg = settings.api.client.eggs[name];
                        attemptname = name;
                    };
                };
                let egginfo = attemptegg ? attemptegg.display : "???";
            %>
            <div class="page-header">
              <h3 class="page-title"> Edit Server </h3>
            </div>
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputUsername1">Server Name</label>
                        <input type="text" class="form-control" value="<%= serverinfo.attributes.name %>" disabled>
                      </div>
                      <div class="form-group">
                        <label for="InputCPU">CPU</label>
                        <input type="number" class="form-control" id="InputCPU" placeholder="120">
                      </div>
                      <div class="form-group">
                        <label for="InputRAM">RAM</label>
                        <input type="number" class="form-control" id="InputRAM" placeholder="2048">
                      </div>
                      <div class="form-group">
                        <label for="InputDisk">Disk</label>
                        <input type="number" class="form-control" id="InputDisk" placeholder="20480">
                      </div>
                      <div class="form-group">
                        <label for="InputEgg">Egg</label><BR>
                        <select class="btn btn-secondary dropdown-toggle" style="background-color: #2a3038; border: 1px solid #2c2e33; color: #e4eaec;" disabled>
                          <% for (let [name, value] of Object.entries(settings.api.client.eggs)) { %>
                            <option value="<%= name %>"><%= value.display %></option>
                          <% } %>
                        </select>
                      </div>
                      <a role="button" class="badge badge-outline-green" style="padding: 12px 30px; font-size: 15px;" href="javascript: submitChanges()">Apply Changes</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          <% } else { %>
                <p style="margin-left: 5%;">Could not find server with the provided ID.</p>
            <% } %>
        <% } else { %>
            <p style="margin-left: 5%;">Missing server ID.</p>
        <% } %>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../../assets/vendors/select2/select2.min.js"></script>
    <script src="../../assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script>
      async function submitChanges() {
        let ram = encodeURIComponent(document.getElementById("InputRAM").value);
        let disk = encodeURIComponent(document.getElementById("InputDisk").value);
        let cpu = encodeURIComponent(document.getElementById("InputCPU").value);
        document.location.href = `/modify?id=<%= req.query.id %>&ram=${ram}&disk=${disk}&cpu=${cpu}`;
      };
    </script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <script src="../../assets/js/settings.js"></script>
    <script src="../../assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../assets/js/file-upload.js"></script>
    <script src="../../assets/js/typeahead.js"></script>
    <script src="../../assets/js/select2.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>