<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <%- include('./components/sidebar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <%- include('./components/topnav') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <% if (req.query.err) { %>
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <% if (req.query.err == "MISSINGVARIABLE") { %>
                    You have not filled out all of the server information.
                <% } else if (req.query.err == "ERRORONMODIFY") { %>
                    There has been an error while attempting to modifying your server. Please alert an administrator to fix this problem.
                <% } else if (req.query.err == "MISSINGEGG") { %>
                    The server type for this server is not registered as a valid server type, therefore your server's RAM, disk and/or CPU could not be changed.
                <% } else { %>
                    <% if (req.query.num) { %>
                        <% if (!isNaN(parseFloat(req.query.num))) { %>
                            <% if (req.query.err == "TOOLITTLERAM" || req.query.err == "TOOLITTLEDISK" || req.query.err == "TOOLITTLECPU") { %>
                                You must make a server with at least <b><%= req.query.num %></b>
                                <% if (req.query.err.slice(-3) == "RAM") { %>
                                    MB RAM
                                <% } else if (req.query.err.slice(-4) == "DISK") { %>
                                    MB disk
                                <% } else { // CPU %>
                                    % CPU
                                <% } %>
                                if you want to modified a server with the server type you have selected.
                            <% } else if (req.query.err == "TOOMUCHRAM" || req.query.err == "TOOMUCHDISK" || req.query.err == "TOOMUCHCPU") { %>
                                With the selected server type, you can have a maximum of <b><%= req.query.num %></b>
                                <% if (req.query.err.slice(-3) == "RAM") { %>
                                    MB RAM
                                <% } else if (req.query.err.slice(-4) == "DISK") { %>
                                    MB disk
                                <% } else { // CPU %>
                                    % CPU
                                <% } %>
                                on the server.
                            <% } else if (req.query.err == "EXCEEDRAM" || req.query.err == "EXCEEDDISK" || req.query.err == "EXCEEDCPU") { %>
                                The server could not be modified because you have requested to modified a server that exceeds your plan.
                            <% } else { %>
                                I won't mind to add a little easter egg here. :)
                            <% } %>
                        <% } else { %>
                            I won't mind to add a little easter egg here. :)
                        <% } %>
                    <% } else { %>
                        I won't mind to add a little easter egg here. :)
                    <% } %>
                <% } %>
            </div>
        <% } %>
        <% if (req.query.id) { %>
            <% if (pterodactyl.relationships.servers.data.filter(name => name.attributes.id == req.query.id).length == 1) {
                let serverinfo = pterodactyl.relationships.servers.data.filter(name => name.attributes.id == req.query.id)[0];
                let attemptegg = null;
                let attemptname = null;
                for (let [name, value] of Object.entries(settings.api.client.eggs)) {
                    if (settings.api.client.eggs[name].info.egg == serverinfo.attributes.egg) {
                        attemptegg = settings.api.client.eggs[name];
                        attemptname = name;
                    };
                };
                let egginfo = attemptegg ? attemptegg.display : "???";
            %>
            <div class="page-header">
              <h3 class="page-title"> Edit Server </h3>
            </div>
        <%- include('./components/ads') %>
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputUsername1">Server Name</label>
                        <input type="text" class="form-control" value="<%= serverinfo.attributes.name %>" disabled>
                      </div>
                      <div class="form-group">
                        <label for="InputCPU">CPU</label>
                        <input type="number" class="form-control" id="InputCPU" placeholder="120">
                      </div>
                      <div class="form-group">
                        <label for="InputRAM">RAM</label>
                        <input type="number" class="form-control" id="InputRAM" placeholder="2048">
                      </div>
                      <div class="form-group">
                        <label for="InputDisk">Disk</label>
                        <input type="number" class="form-control" id="InputDisk" placeholder="20480">
                      </div>
                      <div class="form-group">
                        <label for="InputEgg">Egg</label><BR>
                        <select class="btn btn-secondary dropdown-toggle" style="background-color: #2a3038; border: 1px solid #2c2e33; color: #e4eaec;" disabled>
                          <% for (let [name, value] of Object.entries(settings.api.client.eggs)) { %>
                            <option value="<%= name %>"><%= value.display %></option>
                          <% } %>
                        </select>
                      </div>
                      <a role="button" class="badge badge-outline-green" style="padding: 12px 30px; font-size: 15px;" href="javascript: submitChanges()">Apply Changes</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          <% } else { %>
                <p style="margin-left: 5%;">Could not find server with the provided ID.</p>
            <% } %>
        <% } else { %>
            <p style="margin-left: 5%;">Missing server ID.</p>
        <% } %>
          </div>
          <!-- content-wrapper ends -->
          <%- include('./components/footer') %>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- Plugin js for this page -->
    <script src="/assets/vendors/select2/select2.min.js"></script>
    <script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script>
      async function submitChanges() {
        let ram = encodeURIComponent(document.getElementById("InputRAM").value);
        let disk = encodeURIComponent(document.getElementById("InputDisk").value);
        let cpu = encodeURIComponent(document.getElementById("InputCPU").value);
        document.location.href = `/modify?id=<%= req.query.id %>&ram=${ram}&disk=${disk}&cpu=${cpu}`;
      };
    </script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <%- include('./components/scripts') %>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/assets/js/file-upload.js"></script>
    <script src="/assets/js/typeahead.js"></script>
    <script src="/assets/js/select2.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>
