<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head') %>
    <body>
      <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
      <%- include('./components/sidebar') %>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <!-- partial:partials/_navbar.html -->
           <%- include('./components/topnav') %>
          <!-- partial -->
          <div class="main-panel">
            <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Linkvertise Earning </h3>
            </div>
            <%- include('./components/ads') %>
              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">
                    <div class="card-body">
										<% if(req.query.s == "done") { %>
										<p>Success! The configured amount of coins were added to your account.<br>Want to complete another? press the button below!<br><br><button class="btn btn-primary" href="/lv/gen" onclick="window.location.href = '/lv/gen'">Generate Link</button></p>
										<% } else { %>
										<p>Every Linkvertise link completed, you gain an amount coins!<br>Generate a link by pressing the button below:<br><br><button class="btn btn-primary" href="/lv/gen" onclick="window.location.href = '/lv/gen'">Generate Link</button></p>
										<% } %>
									</div>
              </div>
            </div>
            <!-- content-wrapper ends -->
          <%- include('./components/footer') %>
          </div>
          <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>
      <!-- container-scroller -->
      <!-- plugins:js -->
      <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
      <!-- endinject -->
      <!-- Plugin js for this page -->
      <script src="../../assets/vendors/select2/select2.min.js"></script>
      <script src="../../assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
      <!-- End plugin js for this page -->
      <!-- inject:js -->
      <script src="../../assets/js/off-canvas.js"></script>
      <script src="../../assets/js/hoverable-collapse.js"></script>
      <script src="../../assets/js/misc.js"></script>
      <script src="../../assets/js/settings.js"></script>
      <script src="../../assets/js/todolist.js"></script>
      <!-- endinject -->
      <!-- Custom js for this page -->
      <script src="../../assets/js/file-upload.js"></script>
      <script src="../../assets/js/typeahead.js"></script>
      <script src="../../assets/js/select2.js"></script>
      <!-- End custom js for this page -->
    </body>
  </html>
