<div class="row">
    <%
      let ram = 0;
      let disk = 0;
      let cpu = 0;
      let servers = pterodactyl.relationships.servers.data.length;
      for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) {
          ram = ram + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.memory == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.memory : 0);
          disk = disk + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.disk == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.disk : 0);
          cpu = cpu + (typeof pterodactyl.relationships.servers.data[i].attributes.limits.cpu == "number" ? pterodactyl.relationships.servers.data[i].attributes.limits.cpu : 0);
      }
    %>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <h6 class="card-title text-uppercase text-muted mb-0">CPU</h5>
              <div class="d-flex align-items-center align-self-start">
                <h3 class="mb-0"><%= cpu %> / <%= packages.cpu + extraresources.cpu + join4res.cpu %>%</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <h6 class="card-title text-uppercase text-muted mb-0">RAM</h5>
              <div class="d-flex align-items-center align-self-start">
                <h3 class="mb-0"><%= ram %> / <%= packages.ram + extraresources.ram + join4res.ram %>MB</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <h6 class="card-title text-uppercase text-muted mb-0">DISK</h5>
              <div class="d-flex align-items-center align-self-start">
                <h3 class="mb-0"><%= disk %> / <%= packages.disk + extraresources.disk + join4res.disk %>MB</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <h5 class="card-title text-uppercase text-muted mb-0">SERVERS</h5>
              <div class="d-flex align-items-center align-self-start">
                <h3 class="mb-0"><%= servers %> / <%= packages.servers + extraresources.servers + join4res.servers %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>